<h1>Login</h1>
<form action="/register" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="name">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
    <a href="/register">register</a>
</form>